@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

.hero-bg,
.testimonial-bg {
  background-image: url("/assets/light-gradient.jpg"); /* Default light mode background */
  background-position: center, bottom;
  background-repeat: no-repeat;
  position: relative; /* Make sure the parent has a position set */
  z-index: 1;
}

.bg-pattern {
  background-image: url("/assets/pattern-service.png"); /* Default light mode background */
  background-position: top center;
  background-repeat: no-repeat;
  position: relative; /* Make sure the parent has a position set */
  z-index: 1;
}

.dark .hero-bg,
.dark .testimonial-bg {
  background-image: url("/assets/dark-gradient.jpg"); /* Dark mode background */
  background-position: center, bottom;
}

.hero-bg::before {
  content: ""; /* Use a semicolon instead of a comma */
  position: absolute; /* Positioning the pseudo-element absolutely */
  top: 0; /* Cover the entire area */
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/intro-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
  z-index: 0;
  height: 100%;
}

.dark .hero-bg::before {
  opacity: 0.6;
  z-index: -1;
}
.btn-primary {
  @apply bg-indigo-600 dark:text-gray-100 text-gray-100 font-medium px-4 py-3 text-xl hover:scale-105 hover:shadow-green-500 drop-shadow-lg ease-linear duration-100;
}

/* Custom utility class for balanced text wrapping */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.line-height-heading {
  line-height: 1.05 !important;
}

.text-truncate {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.preloader {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.preloader::after {
  content: "";
  width: 100%; /* Start with full width */
  height: 100vh; /* Full viewport height */
  background-image: url("/assets/dark-gradient.jpg");
  position: absolute;
  top: 0;
  right: 0;
  animation: animatedhero 2s ease-out forwards;
  z-index: 100; /* Slide-out effect */
}

@keyframes animatedhero {
  0% {
    width: 100%; /* Start with 100% width */
    height: 100%;
  }
  100% {
    width: 0%; /* Shrink to 0% width */
    height: 100%;
  }
}

.dark .stroke-text {
  color: transparent; /* Make the text color transparent */
  -webkit-text-stroke: 1px #f5f5f5; /* Stroke width and color */
  text-stroke: 1px #f5f5f5; /* Stroke width and color */
  white-space: nowrap; /* Prevent line breaks */
}

.stroke-text {
  color: transparent; /* Make the text color transparent */
  -webkit-text-stroke: 1px #333; /* Stroke width and color */
  text-stroke: 1px #333; /* Stroke width and color */
  white-space: nowrap; /* Prevent line breaks */
}

.border-gradient {
  border-image: linear-gradient(to right, #4f46e5, #6b7280) 1; /* Adjust colors as needed */
  border-width: 2px; /* Adjust the thickness as needed */
  border-style: solid;
}
